@media (max-width: 320px) {
    .card {
        height: 183px;
        width: 157%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        justify-content: flex-end;
    }

    .card-container {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        margin-top: -20rem;
        padding-right: 0rem;
        justify-content: flex-end;
    }

    .card {
        height: 175px;
        width: 95%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        justify-content: flex-end;
    }
}

@media (min-width: 427px) {
    .card {
        height: 246px;
        width: 386px;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        justify-content: flex-end;
    }
}


@media (min-width: 320px) and (max-width: 427px) {

    #navbarhead {
        padding: 5px;

    }

    .card-container {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        margin-top: -2rem;
        padding-right: 1rem;
        justify-content: flex-end;
    }

    .btnhead {
        color: white;
        background-color: #FF696A;
        width: 223px;
        height: 49px;
        border: none;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .top {
        font-size: 2rem;
    }

    .header {
        background-image: url(imgbg/Homehero.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-position: left;
        height: auto;
        padding-bottom: 3rem;
    }

    .btntop {
        margin-bottom: 1rem;
    }

    .btnour {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .headerh2 {
        font-size: 2.0rem;
        width: 100%;
    }

    .headerp {
        font-size: 1rem;
        max-width: 100%;
    }

    .btnour {
        font-size: 14px;
        width: 10em;
    }

    .navbar-brand img {
        width: 150px;
        height: auto;
    }

    #color1 {
        background-color: #6492E3;
        height: auto;

        font-size: 45px;
    }

    .topp {
        font-size: 2rem;
        padding-top: 1rem;
    }

    #h2 {
        font-size: 21px;
        line-height: revert;
    }

    #img2,
    #img3 {
        height: 400px;
    }

    #bgimg {
        background: none;
    }

    #step3 {
        margin-top: 123rem;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
    }

    #step3 img {
        max-width: 100%;
        height: auto;
        margin-top: 0rem;
    }


    .p2txt {
        font-size: 13px;
        text-align: center;
        justify-content: center;

    }



    #bg {
        font-size: 20px;
        padding-top: 3rem;
    }

    #img2 {
        text-align: center;
        height: 100vh;
        text-align: center;
        background-image: url(imgbg/rescueboard.jpeg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
    }


    #img2 .txt {
        font-size: 1.2rem;
        padding: 10px 0;
        margin: 0 auto;
    }

    #img3 .txt {
        font-size: 1.2rem;
        padding: 10px 0;
        margin: 0 auto;
    }

    #img3 {
        height: 100vh;
        text-align: center;
    }




    .txt {
        width: fit-content;
        height: auto;
    }

    #imgg1,
    #imgg2,
    #imgg3 {
        max-width: 100%;
        height: fit-content;
    }

    #txt1 {
        font-size: 25px;
        background-color: #6492E3CC;
        height: auto;
        width: fit-content;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        margin-top: 9em;
        line-height: 47.95px;
        letter-spacing: 0.03em;
        text-align: left;

    }

    #txt2 {
        font-size: 25px;
        background-color: #6492E3CC;
        height: auto;
        width: fit-content;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        margin-top: 9em;
        line-height: 47.95px;
        letter-spacing: 0.03em;
        text-align: left;

    }

    .box-1 h2 {
        font-size: 1.2rem;
        margin-top: 4rem;

    }

    .overlap-container {
        position: relative;
        height: 125px;
    }

    .number,
    .contact {
        font-size: 0.9rem;
        padding: 8px 12px;
        margin: 5px auto;
        display: inline-block;
    }


    .image5 {
        height: 200px;
        background-position: center;
        background-size: cover;
    }

    .box-1 {
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        height: 266px;
        background-color: #6492E3CC;
        z-index: 1;
    }

    .box-2 {
        position: absolute;
        top: 40px;
        left: 15%;
        width: 70%;
        height: 120px;
        z-index: 2;
    }

    .circlebg {
        background-color: #6492E3CC;
        height: 487px;
    }

    .our {
        margin-top: 13rem;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 35px;
    }


    .absolute {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        padding: 0;
    }




    .box-12 {
        background-image: none;
    }

    .overlap {
        position: relative;
        height: 300px;
        margin-top: 17rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .h2step10 {
        font-size: 25px;
    }

    #step9 {
        margin-top: 85rem;
        background-repeat: no-repeat;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
    }


    .maincc {
        margin-top: 0;
    }

    .our11 {
        margin-top: 24rem;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 35px;
    }
}



@media (min-width: 480px) and (max-width: 768px) {
    #navbarhead {
        padding: 5px;

    }

    .card-container {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        margin-top: -1rem;
        padding-left: 0rem;
        padding-right: 0rem;
        justify-content: flex-end;
    }

    .card {
        height: 176px;
        width: 346px;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        justify-content: flex-end;
    }

    .btnhead {
        color: white;
        background-color: #FF696A;
        width: 223px;
        height: 49px;
        border: none;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .top {
        font-size: 2rem;
    }

    .header {
        background-image: url(imgbg/Homehero.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-position: left;
        height: auto;
        padding-bottom: 3rem;
    }

    .btntop {
        margin-bottom: 1rem;
    }

    .btnour {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .headerh2 {
        font-size: 2.0rem;
        width: 100%;
    }

    .headerp {
        font-size: 1rem;
        max-width: 100%;
    }

    .btnour {
        font-size: 14px;
        width: 10em;
    }

    .navbar-brand img {
        width: 297px;
        height: auto;
    }

    #color1 {
        background-color: #6492E3;
        height: auto;

        font-size: 45px;
    }

    .topp {
        font-size: 2rem;
        padding-top: 1rem;
    }

    #h2 {
        font-size: 21px;
        line-height: revert;
    }

    #img2,
    #img3 {
        height: 400px;
    }

    #bgimg {
        background: none;
    }

    #step3 {
        margin-top: 28rem;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
    }

    .p2txt {
        font-size: 13px;
        text-align: center;
        justify-content: center;

    }



    #bg {
        font-size: 20px;
        padding-top: 3rem;
    }

    #img2 {
        text-align: center;
        height: 100vh;
        text-align: center;
        background-image: url(imgbg/rescueboard.jpeg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
    }


    #img2 .txt {
        font-size: 1.2rem;
        padding: 10px 0;
        margin: 0 auto;
    }

    #img3 .txt {
        font-size: 1.2rem;
        padding: 10px 0;
        margin: 0 auto;
    }

    #img3 {
        height: 100vh;
        text-align: center;
    }




    .txt {
        width: fit-content;
        height: auto;
    }

    #imgg1,
    #imgg2,
    #imgg3 {
        max-width: 100%;
        height: fit-content;
    }

    #txt1 {
        font-size: 25px;
        background-color: #6492E3CC;
        height: auto;
        width: fit-content;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        margin-top: 9em;
        line-height: 47.95px;
        letter-spacing: 0.03em;
        text-align: left;

    }

    #txt2 {
        font-size: 25px;
        background-color: #6492E3CC;
        height: auto;
        width: fit-content;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        margin-top: 9em;
        line-height: 47.95px;
        letter-spacing: 0.03em;
        text-align: left;

    }

    .box-1 h2 {
        font-size: 1.2rem;
        margin-top: 4rem;

    }

    .overlap-container {
        position: relative;
        height: 125px;
    }

    .number,
    .contact {
        font-size: 0.9rem;
        padding: 8px 12px;
        margin: 5px auto;
        display: inline-block;
    }


    .image5 {
        height: 200px;
        background-position: center;
        background-size: cover;
    }

    .box-1 {
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        height: 266px;
        background-color: #6492E3CC;
        z-index: 1;
    }

    .box-2 {
        position: absolute;
        top: 40px;
        left: 15%;
        width: 70%;
        height: 120px;
        z-index: 2;
    }

    .our {
        margin-top: 38%;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 35px;
    }


    .absolute {
        position: sticky;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        padding: 0;
    }


    .box-12 {
        background-image: none;
    }

    .overlap {
        position: relative;
        height: 300px;
        margin-top: 0rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .h2step10 {
        font-size: 25px;
    }

    .card1,
    .card2,
    .card3 {
        height: 209px;
        width: 197px;
    }

    #step9 {
        margin-top: 37rem;
        background-repeat: no-repeat;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
    }

    .maincc {
        margin-top: 0;
    }

    .box-13 {
        position: absolute;
        top: 0px;
        /* left: 15%; */
        right: 0%;
        width: 100%;
        background: none;
        height: 341px;
        z-index: 2;
    }

    .our11 {
        margin-top: -5rem;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 35px;
    }

    .step8h2 {
        font-size: 18px;
    }
}


@media (min-width: 992px) and (max-width: 1024px) {
    #navbarhead {
        padding: 5px;

    }

    .card-container {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        margin-top: -13rem;
        padding-left: 0rem;
        padding-right: 0rem;
        justify-content: flex-end;
    }

    .card {
        height: 173px;
        width: 231px;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        justify-content: flex-end;
    }

    .btnhead {
        color: white;
        background-color: #FF696A;
        width: 223px;
        height: 49px;
        border: none;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .top {
        font-size: 2rem;
    }

    .header {
        background-image: url(imgbg/Homehero.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-position: left;
        height: auto;
        padding-bottom: 3rem;
    }

    .btntop {
        margin-bottom: 0%;
    }

    .btnour {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .headerh2 {
        font-size: 2.0rem;
        width: 100%;
    }

    .headerp {
        font-size: 1rem;
        max-width: 100%;
    }

    .btnour {
        font-size: 14px;
        width: 10em;
    }

    .navbar-brand img {
        width: 297px;
        height: auto;
    }

    #color1 {
        background-color: #6492E3;
        height: auto;

        font-size: 45px;
    }

    .topp {
        font-size: 2rem;
        padding-top: 1rem;
    }

    #h2 {
        font-size: 17px;
        line-height: revert;
    }

    #img2,
    #img3 {
        height: 400px;
    }

    #bgimg {
        background: none;
    }

    .p2 {
        font-size: 12px;
        font-family: "Barlow", sans-serif;
        font-weight: 400;
    }

    #step3 {
        margin-top: 0rem;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
    }

    .p2txt {
        font-size: 13px;
        text-align: center;
        justify-content: center;

    }



    #bg {
        font-size: 20px;
        padding-top: 3rem;
    }

    #img2 {
        text-align: center;
        height: auto;
        text-align: center;
        background-image: url(imgbg/rescueboard.jpeg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
    }


    #img2 .txt {
        font-size: 1.2rem;
        padding: 10px 0;
        margin: 0 auto;
    }

    #img3 .txt {
        font-size: 1.2rem;
        padding: 10px 0;
        margin: 0 auto;
    }

    #img3 {
        height: auto;
        text-align: center;
    }

    #text8 {
        padding-left: 0%;
        padding-right: 0%;
    }




    .txt {
        width: fit-content;
        height: auto;
    }

    #imgg1,
    #imgg2,
    #imgg3 {
        max-width: 100%;
        height: fit-content;
    }

    #txt1 {
        font-size: 21px;
        background-color: #6492E3CC;
        height: auto;
        width: fit-content;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        margin-top: 9em;
        text-align: left;

    }

    #txt2 {
        font-size: 21px;
        background-color: #6492E3CC;
        height: auto;
        width: fit-content;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        margin-top: 9em;
        text-align: left;

    }

    .box-1 h2 {
        font-size: 1.2rem;
        margin-top: 4rem;

    }

    .overlap-container {
        position: relative;
        height: 125px;
    }

    .number,
    .contact {
        font-size: 0.9rem;
        padding: 8px 12px;
        margin: 5px auto;
        display: inline-block;
    }


    .image5 {
        height: 200px;
        background-position: center;
        background-size: cover;
    }

    .box-1 {
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        height: 266px;
        background-color: #6492E3CC;
        z-index: 1;
    }

    .box-2 {
        position: absolute;
        top: 40px;
        left: 15%;
        width: 70%;
        height: 182px;
        z-index: 2;
    }


    .our {
        margin-top: 23%;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 35px;
    }


    .absolute {
        position: sticky;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        padding: 0;
    }


    .box-12 {
        background-image: none;
    }

    .overlap {
        position: relative;
        height: 300px;
        margin-top: 0rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .h2step10 {
        font-size: 25px;
    }

    .card1,
    .card2,
    .card3 {
        height: 209px;
        width: 197px;
    }

    #step9 {
        margin-top: 37rem;
        background-repeat: no-repeat;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
    }

    .maincc {
        margin-top: 0;
    }

    .box-13 {
        position: absolute;
        top: 0px;
        /* left: 15%; */
        right: 0%;
        width: 100%;
        background: none;
        height: 341px;
        z-index: 2;
    }

    .our11 {
        margin-top: -5rem;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 35px;
    }

    .step8h2 {
        font-size: 18px;
    }
}

@media (min-width: 800px) and (max-width: 990px) {
    #navbarhead {
        padding: 5px;

    }

    .card-container {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        margin-top: 0rem;
        padding-left: 0rem;
        padding-right: 1rem;
        justify-content: flex-end;
    }

    .card {
        height: 173px;
        width: 231px;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        justify-content: flex-end;
    }

    .btnhead {
        color: white;
        background-color: #FF696A;
        width: 223px;
        height: 49px;
        border: none;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .top {
        font-size: 2rem;
    }

    .header {
        background-image: url(imgbg/Homehero.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-position: left;
        height: auto;
        padding-bottom: 3rem;
    }

    .btntop {
        margin-bottom: 0%;
    }

    .btnour {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .headerh2 {
        font-size: 2.0rem;
        width: 100%;
    }

    .headerp {
        font-size: 1rem;
        max-width: 100%;
    }

    .btnour {
        font-size: 14px;
        width: 10em;
    }

    .navbar-brand img {
        width: 297px;
        height: auto;
    }

    #color1 {
        background-color: #6492E3;
        height: auto;

        font-size: 45px;
    }

    .topp {
        font-size: 2rem;
        padding-top: 1rem;
    }

    #h2 {
        font-size: 17px;
        line-height: revert;
    }

    #img2,
    #img3 {
        height: 400px;
    }

    #bgimg {
        background: none;
    }

    .p2 {
        font-size: 12px;
        font-family: "Barlow", sans-serif;
        font-weight: 400;
    }

    #step3 {
        margin-top: 27rem;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
    }

    .p2txt {
        font-size: 13px;
        text-align: center;
        justify-content: center;

    }



    #bg {
        font-size: 20px;
        padding-top: 3rem;
    }

    #img2 {
        text-align: center;
        height: auto;
        text-align: center;
        background-image: url(imgbg/rescueboard.jpeg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
    }


    #img2 .txt {
        font-size: 1.2rem;
        padding: 10px 0;
        margin: 0 auto;
    }

    #img3 .txt {
        font-size: 1.2rem;
        padding: 10px 0;
        margin: 0 auto;
    }

    #img3 {
        height: auto;
        text-align: center;
    }

    #text8 {
        padding-left: 0%;
        padding-right: 0%;
    }




    .txt {
        width: fit-content;
        height: auto;
    }

    #imgg1,
    #imgg2,
    #imgg3 {
        max-width: 100%;
        height: fit-content;
    }

    #txt1 {
        font-size: 21px;
        background-color: #6492E3CC;
        height: auto;
        width: fit-content;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        margin-top: 9em;
        text-align: left;

    }

    #txt2 {
        font-size: 21px;
        background-color: #6492E3CC;
        height: auto;
        width: fit-content;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        margin-top: 9em;
        text-align: left;

    }

    .box-1 h2 {
        font-size: 1.2rem;
        margin-top: 7rem;
    }

    .overlap-container {
        position: relative;
        height: 125px;
    }

    .number,
    .contact {
        font-size: 0.9rem;
        padding: 8px 12px;
        margin: 5px auto;
        display: inline-block;
    }


    .image5 {
        height: 200px;
        background-position: center;
        background-size: cover;
    }

    .box-1 {
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        height: 266px;
        background-color: #6492E3CC;
        z-index: 1;
    }

    .box-2 {
        position: absolute;
        top: 40px;
        left: 15%;
        width: 70%;
        height: 182px;
        z-index: 2;
    }


    .our {
        margin-top: 30%;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 35px;
    }


    .absolute {
        position: sticky;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        padding: 0;
    }


    .box-12 {
        background-image: none;
    }

    .overlap {
        position: relative;
        height: 300px;
        margin-top: 0rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .h2step10 {
        font-size: 25px;
    }

    .card1,
    .card2,
    .card3 {
        height: 209px;
        width: 197px;
    }

    #step9 {
        margin-top: 37rem;
        background-repeat: no-repeat;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
    }

    .maincc {
        margin-top: 0;
    }

    .box-13 {
        position: absolute;
        top: 0px;
        /* left: 15%; */
        right: 0%;
        width: 100%;
        background: none;
        height: 341px;
        z-index: 2;
    }

    .our11 {
        margin-top: -5rem;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 35px;
    }

    .step8h2 {
        font-size: 18px;
    }
}



@media (min-width: 1024px) and (max-width: 1399px) {
    #navbarhead {
        padding: 5px;

    }

    .btntop {
        color: white;
        font-family: "Barlow", sans-serif;
        font-weight: lighter;
        font-style: normal;
        background-color: #FF696A;
        font-size: 14px;
        border: none;
        width: 146px;
        height: 50px;
        margin-right: 10px;
    }

    .card-container {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        margin-top: -13rem;
        padding-left: 0rem;
        padding-right: 0rem;
        justify-content: flex-end;
    }

    .card {
        height: 173px;
        width: 231px;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        justify-content: flex-end;
    }

    .btnhead {
        color: white;
        background-color: #FF696A;
        width: 223px;
        height: 49px;
        border: none;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .top {
        font-size: 2rem;
    }

    .header {
        background-image: url(imgbg/Homehero.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-position: left;
        height: auto;
        padding-bottom: 3rem;
    }

    .btntop {
        margin-bottom: 0rem;
    }

    .btnour {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .headerh2 {
        font-size: 2.0rem;
        width: 100%;
    }

    .headerp {
        font-size: 1rem;
        max-width: 100%;
    }

    .btnour {
        font-size: 14px;
        width: 10em;
    }

    .navbar-brand img {
        width: 180px;
        height: auto;
    }

    #color1 {
        background-color: #6492E3;
        height: auto;

        font-size: 45px;
    }

    .topp {
        font-size: 2rem;
        padding-top: 1rem;
    }

    #h2 {
        font-size: 17px;
        line-height: revert;
    }

    #img2,
    #img3 {
        height: 400px;
    }

    #bgimg {
        background: none;
    }

    .p2 {
        font-size: 12px;
        font-family: "Barlow", sans-serif;
        font-weight: 400;
    }

    #step3 {
        margin-top: 0rem;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
    }

    .p2txt {
        font-size: 13px;
        text-align: center;
        justify-content: center;

    }



    #bg {
        font-size: 20px;
        padding-top: 3rem;
    }

    #img2 {
        text-align: center;
        height: auto;
        text-align: center;
        background-image: url(imgbg/rescueboard.jpeg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
    }


    #img2 .txt {
        font-size: 1.2rem;
        padding: 10px 0;
        margin: 0 auto;
    }

    #img3 .txt {
        font-size: 1.2rem;
        padding: 10px 0;
        margin: 0 auto;
    }

    #img3 {
        height: auto;
        text-align: center;
    }

    #text8 {
        padding-left: 0%;
        padding-right: 0%;
    }




    .txt {
        width: fit-content;
        height: auto;
    }

    #imgg1,
    #imgg2,
    #imgg3 {
        max-width: 100%;
        height: fit-content;
    }

    #txt1 {
        font-size: 21px;
        background-color: #6492E3CC;
        height: auto;
        width: fit-content;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        margin-top: 9em;
        text-align: left;

    }

    #txt2 {
        font-size: 21px;
        background-color: #6492E3CC;
        height: auto;
        width: fit-content;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        margin-top: 9em;
        text-align: left;

    }

    .box-1 h2 {
        font-size: 1.2rem;
        margin-top: 4rem;

    }

    .overlap-container {
        position: relative;
        height: 125px;
    }

    .number,
    .contact {
        font-size: 0.9rem;
        padding: 8px 12px;
        margin: 5px auto;
        display: inline-block;
    }


    .image5 {
        height: 200px;
        background-position: center;
        background-size: cover;
    }

    .box-1 {
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        height: 266px;
        background-color: #6492E3CC;
        z-index: 1;
    }

    .box-2 {
        position: absolute;
        top: 40px;
        left: 15%;
        width: 70%;
        height: 182px;
        z-index: 2;
    }


    .our {
        margin-top: 23%;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 35px;
    }


    .absolute {
        position: sticky;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        padding: 0;
    }


    .box-12 {
        background-image: none;
    }

    .overlap {
        position: relative;
        height: 300px;
        margin-top: 0rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .h2step10 {
        font-size: 25px;
    }

    .card1,
    .card2,
    .card3 {
        height: 209px;
        width: 197px;
    }

    #step9 {
        margin-top: 37rem;
        background-repeat: no-repeat;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
    }

    .maincc {
        margin-top: 0;
    }

    .box-13 {
        position: absolute;
        top: 0px;
        /* left: 15%; */
        right: 0%;
        width: 100%;
        background: none;
        height: 341px;
        z-index: 2;
    }

    .our11 {
        margin-top: -5rem;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 35px;
    }

    .step8h2 {
        font-size: 18px;
    }
}

@media (min-width: 1400px) and (max-width: 1875px) {
    .card-container {
        display: flex;
        gap: 0rem;
        flex-direction: row;
        margin-top: -22rem;
        padding-right: 0;
        justify-content: flex-end;
    }
}






@media (min-width: 500px) and (max-width: 600px) {
    #navbarhead {
        padding: 5px;

    }

    .card-container {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        margin-top: -1rem;
        padding-left: 0rem;
        padding-right: 0rem;
        justify-content: flex-end;
    }

    .card {
        height: 176px;
        width: 346px;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        justify-content: flex-end;
    }

    .btnhead {
        color: white;
        background-color: #FF696A;
        width: 223px;
        height: 49px;
        border: none;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .top {
        font-size: 2rem;
    }

    .header {
        background-image: url(imgbg/Homehero.jpg);
        background-repeat: no-repeat;
        width: 100%;
        background-position: left;
        height: auto;
        padding-bottom: 3rem;
    }

    .btntop {
        margin-bottom: 1rem;
    }

    .btnour {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .headerh2 {
        font-size: 2.0rem;
        width: 100%;
    }

    .headerp {
        font-size: 1rem;
        max-width: 100%;
    }

    .btnour {
        font-size: 14px;
        width: 10em;
    }

    .navbar-brand img {
        width: 297px;
        height: auto;
    }

    #color1 {
        background-color: #6492E3;
        height: auto;

        font-size: 45px;
    }

    .topp {
        font-size: 2rem;
        padding-top: 1rem;
    }

    #h2 {
        font-size: 21px;
        line-height: revert;
    }

    #img2,
    #img3 {
        height: 400px;
    }

    #bgimg {
        background: none;
    }

    #step3 {
        margin-top: 105rem;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
    }

    .p2txt {
        font-size: 13px;
        text-align: center;
        justify-content: center;

    }



    #bg {
        font-size: 20px;
        padding-top: 3rem;
    }

    #img2 {
        text-align: center;
        height: 100vh;
        text-align: center;
        background-image: url(imgbg/rescueboard.jpeg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
    }


    #img2 .txt {
        font-size: 1.2rem;
        padding: 10px 0;
        margin: 0 auto;
    }

    #img3 .txt {
        font-size: 1.2rem;
        padding: 10px 0;
        margin: 0 auto;
    }

    #img3 {
        height: 100vh;
        text-align: center;
    }




    .txt {
        width: fit-content;
        height: auto;
    }

    #imgg1,
    #imgg2,
    #imgg3 {
        max-width: 100%;
        height: fit-content;
    }

    #txt1 {
        font-size: 25px;
        background-color: #6492E3CC;
        height: auto;
        width: fit-content;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        margin-top: 9em;
        line-height: 47.95px;
        letter-spacing: 0.03em;
        text-align: left;

    }

    #txt2 {
        font-size: 25px;
        background-color: #6492E3CC;
        height: auto;
        width: fit-content;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        margin-top: 9em;
        line-height: 47.95px;
        letter-spacing: 0.03em;
        text-align: left;

    }

    .box-1 h2 {
        font-size: 1.2rem;
        margin-top: 4rem;

    }

    .overlap-container {
        position: relative;
        height: 125px;
    }

    .number,
    .contact {
        font-size: 0.9rem;
        padding: 8px 12px;
        margin: 5px auto;
        display: inline-block;
    }


    .image5 {
        height: 200px;
        background-position: center;
        background-size: cover;
    }

    .box-1 {
        position: absolute;
        top: 90%;
        left: 0;
        width: 100%;
        height: 266px;
        background-color: #6492E3CC;
        z-index: 1;
    }

    .box-2 {
        position: absolute;
        top: 40px;
        left: 15%;
        width: 70%;
        height: 120px;
        z-index: 2;
    }

    .our {
        margin-top: 38%;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 35px;
    }


    .absolute {
        position: sticky;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
        padding: 0;
    }


    .box-12 {
        background-image: none;
    }

    .overlap {
        position: relative;
        height: 300px;
        margin-top: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .h2step10 {
        font-size: 25px;
    }

    .card1,
    .card2,
    .card3 {
        height: 209px;
        width: 197px;
    }

    #step9 {
        margin-top: 40rem;
        background-repeat: no-repeat;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
    }

    .maincc {
        margin-top: 0;
    }

    .box-13 {
        position: absolute;
        top: 0px;
        /* left: 15%; */
        right: 0%;
        width: 100%;
        background: none;
        height: 341px;
        z-index: 2;
    }

    .our11 {
        margin-top: 3rem;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 35px;
    }

    .step8h2 {
        font-size: 18px;
    }
}