@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .box-13 {
        position: absolute;
        top: 80px;
        /* left: 15%; */
        right: 0%;
        width: 100%;
        background: none;
        height: auto;
        z-index: 2;
    }

    .card1,
    .card2,
    .card3 {
        width: 100%;
    }

    .overlap {
        position: relative;
        height: 300px;
        padding-top: 70rem;
    }

    .our11 {
        margin-top: 27rem;
    }
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1440px) {
    .absolute {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: -19rem;
        padding: 0;
    }


}

@media (max-width :375px) {
    #color1 {
        background-color: #6492E3;
        height: auto;

        font-size: 45px;
    }

    .topp {
        font-size: 2rem;
        padding-top: 1rem;
    }

    #h2 {
        font-size: 21px;
        line-height: revert;
    }

    #img2,
    #img3 {
        height: 400px;
    }
}

@media (max-width :425px) {

    #color1 {
        background-color: #6492E3;
        height: auto;

        font-size: 45px;
    }

    .topp {
        font-size: 2rem;
        padding-top: 1rem;
    }

    .step3 {
        margin-top: 140em;
    }

    #color5 {
        background-color: #6492E3;
    }

    #bgimg {
        background: none;
    }
}


@media (max-width :800px) {

    #color1 {
        background-color: #6492E3;
        height: auto;
        font-size: 45px;
    }

    .topp {
        font-size: 2rem;
        padding-top: 1rem;
    }

    #color5 {
        background-color: #6492E3;
    }

    .step3 {
        margin-top: 124rem;

    }

    .txtour {
        text-align: center;
    }

    #bgimg {
        background: none;
    }
}

@media (max-width:102px) {
    .topp {
        font-size: 2rem;
    }

    .circle {
        width: 75px;
        height: 75px;
    }

    .card {
        height: 211px;
        width: 300px;
    }
}


@media screen and (max-width: 1024px) and (min-width: 800px) {
    #h2 {
        font-size: 20px;
        line-height: revert;
    }

    #color1 {
        background-color: #6492E3;
        height: 487px;
        font-size: 25px;
    }

    #step3 img {
        max-width: 100%;
        height: auto;
        margin-top: 4rem;
    }

    .our {
        margin-top: 36%;
        font-family: "League Spartan", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 35px;
    }

    .card {
        height: 174px;
        width: 211px;
        padding: 1rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        justify-content: flex-end;
    }

    .absolute {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: -14rem;
        padding: 0;
    }

    #step9 img {
        max-width: 100%;
        height: auto;
        margin-top: 4rem;
    }

    .box-12 {
        position: relative;
        top: 66rem;
        left: 0;
        width: 100%;
        height: 498px;
        background-image: url(imgbg/ocean.jpeg);
        z-index: 1;
        background-size: cover;
        background-position: center;
    }

    .our11 {
        margin-top: 79rem;
    }

    .circle {
        height: 76px;
        width: 76px;
    }

}